@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Post_Entity.tbl_Post>

@{
    ViewBag.Title = "Posts";
}

<br />
<p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.TextBox("search") <input type="submit" value="search" />
    }
</p>
<br />

@*<div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
            Panel Header
            </div>

            <div class="panel-body">
            Panel Content
            </div>
        </div>
    </div>*@

<table class="table table-bordered table-striped">
    @*<tr>
            <th>
                Post
            </th>
            <th>
                User
            </th>
            <th>
                Post Date
            </th>
            <th>
                Total Comments
            </th>
        </tr>*@

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4">
                No records match search criteria
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr style="background-color:green; color:white; font-weight:bold;">
                <td>
                    @Html.DisplayFor(modelItem => item.PostName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.TotalComments <= 1 ? "Comment" : "Comments")*@
                    @Html.DisplayFor(modelItem => item.TotalComments) Comments
                </td>
            </tr>


            foreach (var comment in item.tbl_Comment)
            {
                <tr>
                    <td>
                        @comment.CommentDescription
                    </td>
                    <td>
                        @comment.tbl_User.UserName
                    </td>
                    <td>
                        @comment.CommentDate
                    </td>
                    <td>
                        Likes: <i class="far fa-thumbs-up"></i> @comment.LikeCount, Dislikes: <i class="far fa-thumbs-down"></i> @comment.DislikeCount
                    </td>
                </tr>
            }

        }
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }),
    new PagedListRenderOptions()
    {
        Display = PagedListDisplayMode.IfNeeded,
        /*DisplayPageCountAndCurrentLocation = true*/
        DisplayItemSliceAndTotal = true
    })
